.ocultar{
    display: none;
}

.mostrar{
    display: block;
}



.ul1{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: row;
}

.ul1 li{
    padding: 8px;
    margin: 10px;
}

.ul1 .icon{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    padding: 2px;
    font-size: 24px;
}

.nav1{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

nav img{
    width: 200px;
    height: 50px;
    margin: 10px;
}

/* Carousel */
.carousel-container {
    width: 100%;
    height: 500px; 
    margin: 0 auto; 
    overflow: hidden; 
    position: relative; 
    z-index: 1;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute; 
}

.carousel-inner img:first-child {
    opacity: 1;
}

.btn-carousel{
    width: 420px;
    height: 60px;
    z-index: 1;
    transform: translate(-50%, -50%);
    position: absolute;
    top:75%;
    left: 50%;
    border-radius: 13px;
    background-color: #518505e3;
    border: none;
}

.btn-carousel a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}


/* Ul-container */
.ul-container{
    width: 360px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    margin-left: 50px;
    justify-content: space-between;
}

.ul-container li{
    padding: 20px;
    width:180px;
    font-size: 20px;
    text-align: center;
    font-family: "Roboto",sans-serif;
}

.ul-container li:not(:last-child) {
    border-right: 1px solid rgb(201, 199, 199);
}

/* Publicidad */
.publicidad{
    width: 100%;
    height: 110px;
    z-index: 1000;
    background-color: #d1dbe0;
}

.publicidad p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


/* Contacto */
.seccion-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12px;
    padding: 30px;
    justify-content: space-around;
}


#envelope, #house{
    display: flex;
    justify-content: center;
    font-size: 90px;
}


.form-container-contacto h2,
.form-container-tasaciones h2{
    display: flex;
    justify-content: center;
    text-align: start;
} 


.form-container-contacto,
.form-container-tasaciones {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.form-container-contacto input,textarea,
.form-container-tasaciones input,textarea {
    padding: 8px;
    margin: 8px;
    width: 100%;
}


form{
    width: 200px;
}

h2{
    font-family: "Roboto",sans-serif;
    font-style: normal;
}

form div{
    margin: 1px;
}


/* FOOTER */

footer{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #d1dbe0;
}

footer iframe{
    height: 400px;
    width: 400px;
    margin: 12px;
}

.div-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    height: 400px;
    font-size: 16px;
}

.ul-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin: 15px;
    list-style-type: none;
}

.div-contacto h3, .ubicacion h3{
    display: flex;
    justify-content: center;
}

.ubicacion{
    margin: 15px;
    height: 400px;
}
.ubicacion p{
    margin: 15px;
}

.div-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.div-info div{
    width: 400px;
    text-align: center;
    font-size: 16px;
}

.div-info div p{
    padding: 10px;
}

html{
    scroll-behavior: smooth;
}
/* Media queries */

@media (max-width:640px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        display: grid;
        min-width: none;
        width: 100%;
    }
    
    html{
        width: 100%;
        height: 100%;
    }

    .nav1, nav img, #envelope, #house{
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    footer iframe,
    .div-footer,
    .ubicacion,
    .div-info,
    .div-info div {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }


    .div-footer,
    .ubicacion,
    .div-info {
        align-items: center;
        text-align: center;
    }

    .ul-footer {
        width: 100%;
        padding: 0;
        margin: 10px 0;
    }
    .publicidad{
        text-align: center;
        width: 100%;
    }

    .publicidad p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .seccion-contacto{
        display: grid;
        grid-template-columns: 1,1fr;
        display: flex;
        flex-direction: column;
        margin: 15px;
        align-items: center;
    }

    #icono1 i, #icono1 h2,
    #icono2 i, #icono2 h2
    {
        display: none;
    }
    .form-contacto, .form-tasaciones{
        display: block;
    }
    .titulo-form{
        display: block;
        text-align: center;
        padding: 15px;
        margin: 30px;
    }

    .ul-container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ul-container.show {
        display: flex;
    }

    .ul-container li:not(:last-child) {
        border-bottom: 1px solid rgb(201, 199, 199);
        border-right: none;
    }

    .ul-container li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
        margin: 10px;
        float: left;
        cursor: pointer;
    }

    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #333;
        transition: all 0.3s ease-in-out;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}